{"configSettings":[{"appID":"SharedServerToken","serverToken":"EL7LU3DZGJN2SVEO2Z5BVYB35PUXWKLQ"},{"appID":"659355159006965","serverToken":"224RUJFQNA2RFYADWSPR47BMZQ2O6VH6"},{"appID":"772566830600641","serverToken":"574HIWJKDTNB724TVUAVY5UNP7Y6WPP6"},{"appID":"865814987956996","serverToken":"EL7LU3DZGJN2SVEO2Z5BVYB35PUXWKLQ"}]}